<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-6">
                <h3>Groupe<span class="fg-primary"> Actions.</span></h3>
            </div>
            <div class="col-lg-6 py-6">
                <h5>Contact Information</h5>
                <p>Village des Jeux</p>
                <p>Village G8 Ankorondrano</p>
                <p>Antananarivo 101</p>
            </div>


        </div>

        <hr>

        <div class="row mt-4">
            <div class="col-md-6">
                <p> © Copyright 2021. Tous droits réservés</p>
            </div>
            <div class="col-md-6 text-right">
                <div class="sosmed-button">
                    <a href="#"><span class="mai-logo-facebook-f"></span></a>
                    <a href="#"><span class="mai-logo-twitter"></span></a>

                    <a href="#"><span class="mai-logo-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>