<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-6">
                <h3>Groupe<span class="fg-primary"> Action.</span></h3>
            </div>
            <div class="col-lg-6 py-6">
                <h5>Contact Information</h5>
                <p>Village des jeux Villa G8 Ankorondrano</p>
                <p>Antananarivo 101</p>
                <p>MADAGASCAR</p>
            </div>


        </div>

        <hr>

        <div class="row mt-4">
            <div class="col-md-6">
                <p> © Copyright 2021. Groupe Action. Tous droits réservés</p>
            </div>
            <div class="col-md-6 text-right">
                <div class="sosmed-button">
                    <a href="https://www.facebook.com/Groupe-Action-102300202397755" target="_blank"><span class="mai-logo-facebook-f"></span></a>


                    <a href="https://www.linkedin.com/in/groupe-action-a85680232/" target="_blank"><span class="mai-logo-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>