<!--
<div class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="title-section mb-3">Nos filiales</h2>
            <p>Les entreprises affiliées au groupe</p>
        </div>
        <div class="row align-items-center" style="background-color: #F2F4FE">
            <div class="col-lg-6 py-3">
                <div class="about-img">
                    <img src="../assets/img/triodi/ppn2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <img src="../../assets/img/triodi/triodi.png" alt="logoTriodi" style="width: 30%;">
                <h6 class="title-filiale">Activités :</h6>
                <ul style="list-style-type:disc ;color: #6D728B; ">
                    <li>Commercialisation et distribution de marchandises générales, PPN, produits locaux et de matériels en BTP</li>
                    <li>Importation de véhicules d’occasion, pièces détachées et de quincailleries </li>
                    <li>Conception et gestion des infrastructures, gestion de parking et travaux de manutention </li>
                    <li>Transport et transformation de déchets </li>
                    <li>Digitalisation de pièces de transaction et Mobile Money </li>
                </ul>
                <h6 class="title-filiale"> Siège : <i>Lot IV X 72 Ankazomanga Antananarivo 101</i></h6>
                <h6 class="title-filiale"> <span class="mai-call fg-primary"> : </span>
                    <a href="tel:+261340722472" style="color: black;"> <i> +261 34 07 224 72</i></a>
                </h6>
            </div>

        </div>
    </div>
</div>


<div class="page-section">
    <div class="container">
        <div class="row align-items-center" style="background-color: #F2F4FE">
            <div class="col-lg-6 py-3">
               
                <img src="../../assets/img/maka/maka.png" alt="logoMaka" style="width: 40%;">
                <h6 class="title-filiale">Activités :</h6>
                <ul style="list-style-type:disc ;color: #6D728B; ">
                    <li>Achat et vente de biens immobiliers industriels </li>
                    <li>Location d’entrepôts, de terrains et d’autres biens immobiliers </li>
                </ul>
                <h6 class="title-filiale"> Siège : <i>Village des Jeux Villa G1 Ankorondrano Antananarivo 101</i></h6>
                <h6 class="title-filiale"> <span class="mai-call fg-primary"> : </span>
                    <a href="tel:+26134" style="color: black;"> <i> +261 34 </i></a>
                </h6>


            </div>
            <div class="col-lg-6 py-3">
                <div class="about-img">
                    <img src="../assets/img/maka/entrepots.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row align-items-center" style="background-color: #F2F4FE">
            <div class="col-lg-6 py-3">
                <div class="about-img">
                    <img src="../assets/img/matura/maison.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="subhead"> Logo Matura</div>
                <img src="../../assets/img/matura/matura.png" alt="logoMatura" style="width: 30%;">
                <h6 class="title-filiale">Activités :</h6>
                <ul style="list-style-type:disc ;color: #6D728B; ">
                    <li>Achat et vente d’immeubles à usage de bureau et/ou d’habitation </li>
                    <li>Location d’immeubles (villa, appartements et autres) à usage d’habitation </li>
                </ul>
                <h6 class="title-filiale"> Siège : <i>Village des Jeux Villa G1 Ankorondrano Antananarivo 101</i></h6>
                <h6 class="title-filiale"> <span class="mai-call fg-primary"> : </span>
                    <a href="tel:+26134" style="color: black;"> <i> +261 34 </i></a>
                </h6>

            </div>

        </div>
    </div>
</div>
 .page-section -->

<!-- TRIODI -->

<div id="TRIODI" class="page-section dark-background">
    <div class="container-fluid" style="padding-bottom: 25px;">


        <div class="row align-items-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 py-3">
                <div class="filiales-logo-text">
                    <img class="filiales-logo" src="../../assets/img/triodi/triodi.png" alt="logoTriodi">
                    <!--<h4 class="title-section-accueil text-white zoom-in-out-box" style="margin-bottom: 25px;">TRIODI</h4>-->

                </div>
                <p class="filiales-desc text-white">La société TRIODI se spécialise dans :</p>
                <div class="activity-accueil">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/distribution.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Commercialisation et distribution </p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/btp2.png" alt="icon-btp2">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Conception, Construction BTP </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/transport.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Transport </p>
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex align-items-center process mb-40"></div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/wrench.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">

                                <p class="text-white">
                                    Digitalisation </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/immobilier.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">

                                <p class="text-white">
                                    Gestion des infrastructures</p>
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex align-items-center process mb-40"></div>
                    </div>


                </div>
                <br>
                <div class="filiales-location">
                    <h6 class="title-filiale text-white"> Siège : <i>Lot IV X 72 Ankazomanga Antananarivo 101</i></h6>
                    <h6 class="title-filiale text-white"> <span class="mai-call fg-primary"> : </span>
                        <a href="tel:+261340722472"> <i> +261 34 07 224 72</i></a>
                    </h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-img-accueil">
                    <img src="../assets/img/triodi/chantier2.png" alt="image descri triodi">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .FIN TRIODI -->

<!-- MAKA -->

<div id="MAKA" class="page-section">
    <div class="container-fluid" style="padding-bottom: 25px;">


        <div class="row align-items-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-md-12">
                <div class="about-img-accueil">
                    <img src="../assets/img/maka/warehouse.png" alt="image descri maka">
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="filiales-logo-text">
                    <img class="filiales-logo" src="../../assets/img/maka/maka.png" style="width: 300px;" alt="logoMaka">
                    <!--<h4 class="title-section-accueil text-white zoom-in-out-box" style="margin-bottom: 25px;">TRIODI</h4>-->

                </div>
                <p class="filiales-desc text-black">La société MAKA se spécialise dans :</p>
                <ul style="list-style-type:disc ;color: #000000; font-size: 14px;">
                    <li>Gestion immobilière (biens immobiliers industriels, terrains, hangars métalliques, et d’autres biens immobiliers). </li>

                </ul>
                <div class="activity-accueil">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box iconmaka" src="../assets/img/icons/terrain.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-black">
                                    Terrain </p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box iconmaka" src="../assets/img/icons/warehouse.png" alt="icon-btp2">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-black">
                                    Entrepôt </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box iconmaka" src="../assets/img/icons/hangar.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-black">
                                    Hangar mettalique </p>
                            </div>
                        </div>
                    </div>


                </div>
                <br>
                <div class="filiales-location">
                    <h6 class="title-filiale "> Siège : <i>Village des Jeux Villa G1 Ankorondrano Antananarivo 101</i></h6>
                    <h6 class="title-filiale "> <span class="mai-call fg-primary"> : </span>
                        <a href="tel:+261340722472"> <i> +261 34</i></a>
                    </h6>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- .FIN MAKA -->
<!-- . MATURA -->
<div id="MATURA" class="page-section dark-background">
    <div class="container-fluid" style="padding-bottom: 25px;">


        <div class="row align-items-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 py-3">
                <div class="filiales-logo-text">
                    <img class="filiales-logo" src="../../assets/img/matura/matura.png" alt="logoMatura">
                    <!--<h4 class="title-section-accueil text-white zoom-in-out-box" style="margin-bottom: 25px;">TRIODI</h4>-->

                </div>
                <p class="filiales-desc text-white">La société MATURA se spécialise dans :</p>
                <ul style="list-style-type:disc ;color: #ffffff; font-size: 14px;">
                    <li>Construction de logements d’habitation </li>
                    <li>Transactions immobilières relatives aux appartements, villa et autres immobiliers à usage d’habitation et / ou bureau </li>
                </ul>
                <div class="activity-accueil">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/appartement.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Appartement </p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/villa.png" alt="icon-btp2">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Villa </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/home.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">
                                <p class="text-white">
                                    Building </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 "></div>

                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 ">
                            <div class="icon-lf float-left hvr-float-shadow">
                                <img class="icon-filiale zoom-in-out-box" src="../assets/img/icons/mall.png" alt="icon-btp">
                            </div>
                            <div class="right-txt float-right">

                                <p class="text-white">
                                    Centre Commerciale </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex align-items-center process mb-40 "></div>
                    </div>


                </div>
                <br>
                <div class="filiales-location">
                    <h6 class="title-filiale text-white"> Siège : <i>Village des Jeux Villa G1 Ankorondrano Antananarivo 101</i></h6>
                    <h6 class="title-filiale text-white"> <span class="mai-call fg-primary"> : </span>
                        <a href="tel:+261340722472"> <i> +261 34 </i></a>
                    </h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-img-accueil">
                    <img src="../assets/img/matura/building.png" alt="image descri matura ">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .FIN MATURA -->

<div class="page-section">
    <div class="container-fluid">
        <div class="row row-cols-md-3 row-cols-lg-8 justify-content-center text-center">
            <div class="py-3 px-4">
                <img src="../../assets/img/triodi/triodi.png" alt="logoTriodi" style="width: 35%;">
            </div>
            <div class="py-3 px-4">
                <img src="../../assets/img/maka/maka.png" alt="logoMaka" style="width: 50%;">
            </div>
            <div class="py-3 px-4">
                <img src="../../assets/img/matura/matura.png" alt="logoMatura" style="width: 35%;">
            </div>


        </div>
    </div>
    <!-- .container-fluid -->
</div>