<div class="page-banner home-banner mb-5">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="../assets/img/maka/baniere.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">"Slogan ou phrase percutante Maka"</div>
                    <h1 class="mb-4">MAKA</h1>

                </div>
            </div>


        </div>
    </div>
    <!-- .slider-wrapper -->
</div>
<!-- .page-banner -->
<main>
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="subhead">Logo Maka</div>
                    <h2 class="title-section">MAKA</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                        sed, finibus felis. Quisque ut sagittis nibh. Pellentesque iaculis mauris eget felis pellentesque, ut scelerisque dolor congue. Proin a tincidunt elit, ac molestie dui. Ut lacinia dui turpis, vel viverra tellus accumsan nec. Duis
                        hendrerit velit sit amet porttitor volutpat.
                    </p>


                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/entreprise.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Interieur Page-->
    <div class="page-section">
        <div class="container">

            <h2 class="title-section">Nos Projets</h2>
            <div class="grid mt-3">
                <div class="grid-item mobile">
                    <div class="portfolio">
                        <a href="../assets/img/maka/main.jpg" data-fancybox="portfolio">
                            <img src="../assets/img/maka/main.jpg" alt="">
                        </a>
                    </div>
                    <h6>Nom projet 1</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta.
                    </p>
                </div>
                <div class="grid-item mobile">
                    <div class="portfolio">
                        <a href="../assets/img/maka/heures.jpg" data-fancybox="portfolio">
                            <img src="../assets/img/maka/heures.jpg" alt="">
                        </a>
                    </div>
                    <h6>Nom projet 2</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta.
                    </p>
                </div>
                <div class="grid-item web desktop">
                    <div class="portfolio">
                        <a href="../assets/img/maka/people.jpg" data-fancybox="portfolio">
                            <img src="../assets/img/maka/people.jpg" alt="">
                        </a>
                    </div>
                    <h6>Nom projet 3</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta.
                    </p>
                </div>


            </div>
            <!-- .grid -->

        </div>
        <!-- .container -->
    </div>
    <!-- .page-section -->



    <div class="page-section">
        <div class="container">
            <div class="text-center">
                <div class="subhead">L'Equipe</div>
                <h2 class="title-section">Notre Equipe a votre service</h2>
            </div>

            <div class="owl-carousel team-carousel mt-5">
                <div class="team-wrap">
                    <div class="team-profile">
                        <img src="../assets/img/teams/team_1.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h5>Walter White</h5>
                        <div class="text-sm fg-grey">Président Directeur Général</div>

                        <div class="social-button">
                            <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-mail"></span></a>
                        </div>
                    </div>
                </div>

                <div class="team-wrap">
                    <div class="team-profile">
                        <img src="../assets/img/teams/team_2.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h5>Sarah Johanson</h5>
                        <div class="text-sm fg-grey">Directeur Général</div>

                        <div class="social-button">
                            <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-mail"></span></a>
                        </div>
                    </div>
                </div>

                <div class="team-wrap">
                    <div class="team-profile">
                        <img src="../assets/img/teams/team_3.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h5>Anna Anderson</h5>
                        <div class="text-sm fg-grey">Directeur des affaires</div>

                        <div class="social-button">
                            <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-mail"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .page-section -->
    <!--Fin Interieur Page-->
</main>