<div class="page-banner home-banner mb-5">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="../../assets/img/bg_image_1.jpg" alt="image Triodi">
                <div class="img-caption">
                    <div class="subhead">"Slogan ou phrase percutante Triodi"</div>
                    <h1 class="mb-4">TRIODI</h1>
                    <a (click)="goTriodi()" class="btn btn-outline-light">Voir plus</a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="../../assets/img/bg_image_2.jpg" alt="image Triodi">
                <div class="img-caption">
                    <h1 class="mb-4">MAKA</h1>
                    <a (click)="goMaka()" class="btn btn-outline-light">Voir plus</a>
                    <div class="subhead">"Slogan ou phrase percutante Maka"</div>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="../../assets/img/bg_image_3.jpg" alt="image Triodi">
                <div class="img-caption">
                    <div class="subhead">"Slogan ou phrase percutante Matura"</div>
                    <h1 class="mb-4">MATURA </h1>
                    <a (click)="goMatura()" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .slider-wrapper -->
</div>
<!-- .page-banner -->


<main>
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="subhead"> A propos du groupe Actions</div>
                    <h2 class="title-section">Qui sommes- <span class="fg-primary">nous ?</span></h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                        sed, finibus felis. Quisque ut sagittis nibh.
                    </p>


                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .page-section -->
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/ppn.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="subhead"> Logo Triodi</div>
                    <h2 class="title-section">TRIODI</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                        sed, finibus felis. Quisque ut sagittis nibh.
                    </p>


                </div>

            </div>
        </div>
    </div>


    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="subhead"> Logo Maka</div>
                    <h2 class="title-section">MAKA</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                        sed, finibus felis. Quisque ut sagittis nibh.
                    </p>


                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/entreprise.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/nature.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="subhead"> Logo Matura</div>
                    <h2 class="title-section">MATURA</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                        sed, finibus felis. Quisque ut sagittis nibh.
                    </p>


                </div>

            </div>
        </div>
    </div>
    <!-- .page-section -->

    <div class="page-section">
        <div class="container">
            <div class="text-center">

                <h2 class="title-section">Mot du président</h2>
            </div>

            <div class="owl-carousel team-carousel ">

                <div class="englobe">
                    <div class="team-wrap">
                        <div class="team-profile">
                            <img src="../assets/img/teams/team_1.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h5>Nom du président</h5>
                            <div class="text-sm fg-grey">Informations sur le président</div>

                            <div class="social-button">
                                <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-mail"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-left: 10%; margin-top: 12%;">


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia lacus eu nunc volutpat porta. Nam efficitur bibendum magna, eget sagittis urna vehicula molestie. Morbi tincidunt nisi ac ante cursus interdum. Ut in neque faucibus, lobortis nunc
                            sed, finibus felis. Quisque ut sagittis nibh. Pellentesque iaculis mauris eget felis pellentesque, ut scelerisque dolor congue. Proin a tincidunt elit, ac molestie dui. Ut lacinia dui turpis, vel viverra tellus accumsan nec.
                            Duis hendrerit velit sit amet porttitor volutpat.
                        </p>


                    </div>
                </div>


            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .page-section -->


    <!-- .page-section -->

    <!-- Testimonials -->

    <!-- .page-section -->


    <!-- .page-section -->

    <div class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="title-section mb-3">Contactez-nous</h2>
                <p>Ou envoyer un mail à : <a href="mailto:example@mail.com">example@mail.com</a></p>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <form action="#" class="form-contact">
                        <div class="row">
                            <div class="col-sm-6 py-2">
                                <label for="name" class="fg-grey">Nom</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter votre nom..">
                            </div>
                            <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Adresse mail..">
                            </div>
                            <div class="col-12 py-2">
                                <label for="subject" class="fg-grey">Sujet</label>
                                <input type="text" class="form-control" id="subject" placeholder="Sujet..">
                            </div>
                            <div class="col-12 py-2">
                                <label for="message" class="fg-grey">Message</label>
                                <textarea id="message" rows="8" class="form-control" placeholder="Message.."></textarea>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-primary px-5">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .page-section -->


    <!-- .page-section -->

</main>